<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>e-Support</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Scripts/Libraries/cute-alert-master/style.css" />
    <link href="/CSS/Libraries/jquery-ui.css" rel="stylesheet" />
    <link href="/CSS/Project/view.css" rel="stylesheet" />
    <link href="/CSS/Project/common.css" rel="stylesheet" />
    <link href="/CSS/Project/student.css" rel="stylesheet" />
    <link href="/CSS/Project/admin_dashboard.css" rel="stylesheet" />
    <link href="/CSS/Project/student.css" rel="stylesheet" />
    <link href="/CSS/Project/student_parent.css" rel="stylesheet" />
    <style>


        a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="div-trai">
        <div class="div-trai-tren">
            <i class="fas fa-book-reader logo"></i>
            <div class="div-trai-tren-text logo-text">e-Support</div>
        </div>
        <div class="div-trai-duoi">
            <a href="#student_infor">
                <div class="trai-duoi-1cai ">
                    <i class="fas fa-user-graduate icon-sidebar"></i>
                    <div class="trai-duoi-text">Thông tin học sinh</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="#score_infor">
                <div class="trai-duoi-1cai ">
                    <i class="fas fa-star-half-alt icon-sidebar"></i>
                    <div class="trai-duoi-text">Điểm</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="#bonus_infor">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-award icon-sidebar"></i>
                    <div class="trai-duoi-text">Khen thưởng</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="#critic_infor">
                <div class="trai-duoi-1cai ">
                    <i class="fas fa-user-graduate icon-sidebar"></i>
                    <div class="trai-duoi-text">Phê bình</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="#classify_infor">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-star-half-alt icon-sidebar"></i>
                    <div class="trai-duoi-text">Đánh giá xếp loại</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="#class_infor">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-award icon-sidebar"></i>
                    <div class="trai-duoi-text">Thông tin lớp học</div>
                </div>
            </a>

            <div class="line"></div>
            <a onclick="editPH()" class="">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-user-friends icon-sidebar"></i>
                    <div class="trai-duoi-text">Cập nhật thông tin</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-user-friends icon-sidebar"></i>
                    <div class="trai-duoi-text">Đổi mật khẩu</div>
                </div>
            </a>

            <div class="line"></div>
            <a id="logout">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-book icon-sidebar"></i>
                    <div class="trai-duoi-text">Đăng xuất</div>
                </div>
            </a>
        </div>

    </div>
    <div class="div-phai">
        <div style="width: fit-content();display: flex; justify-content: flex-end" class="div-phai-tren">
            <select class="cbb1" style="width: 66px; background-color: #0973b9; margin-right: 10px ">
                <option value="value">student</option>
            </select>
        </div>
        <div style="display: block; height: 90vh; overflow-y: scroll; padding-left: 10px; padding-right: 10px; width: unset;" class="div-phai-giua">
            <div id="student_infor" class="student-infor">
                <div class="title_info">Thông tin học sinh</div>
                <div class="body-info" style="display: flex;">
                    <div class="col">
                        <div class="info" id="student_code">Mã học sinh:</div>
                        <div class="info" id="student_name">Họ và tên:</div>
                        <div class="info" id="student_sex">Giới tính:</div>
                        <div class="info" id="student_birthday">Ngày sinh:</div>
                        <div class="info" id="student_address">Địa chỉ:</div>

                    </div>

                    <div style="margin-left: 200px;" class="col">
                        <div class="info" id="parent_name">Họ và tên PH:</div>
                        <div class="info" id="parent_phone">Số điện thoại PH:</div>
                    </div>
                </div>

            </div>
            <div id="score_infor">
                <div style="margin-bottom: 15px;" class="title_info">Thông tin điểm</div>
                <div class="body-info">
                    <label style="font-weight: normal;" class="label-search">Tìm kiếm</label><input id="search_score" class="imput-search" />
                    <div style="" class="student-score-table">
                        <table id="table_score_parent" style="width: 100%;" class="main-table-score">
                            <thead>
                                <tr>
                                    <th class="tieu-de" fieldName="Subject">
                                        <div class="tieu-de-tren">Môn học</div>
                                    </th>
                                    <th class="tieu-de" fieldName="Type">
                                        <div class="tieu-de-tren">Loại điểm</div>
                                    </th>
                                    <th class="tieu-de cot1" fieldName="Point">
                                        <div class="tieu-de-tren">Điểm</div>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                    <div style="font-weight: bold" class=" info">Điểm trung bình từng môn học</div>
                    <div style="width: 80%;" class="score-medium ">
                        <div>
                            <div class="info" id="scoreToan"></div>
                            <div class="info" id="scoreVatLy"></div>
                            <div class="info" id="scoreHoaHoc"></div>
                        </div>
                        <div>
                            <div class="info" id="scoreSinhHoc"></div>
                            <div class="info" id="scoreNguVan"></div>
                            <div class="info" id="scoreLichSu"></div>
                        </div>
                        <div>
                            <div class="info" id="scoreDiaLy"></div>
                            <div class="info" id="scoreTinHoc"></div>
                            <div class="info" id="scoreCongDan"></div>
                        </div>
                        <div>
                            <div class="info" id="scoreTiengAnh"></div>
                            <div class="info" id="scoreTheDuc"></div>
                            <div class="info" id="scoreCongNghe"></div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="bonus_infor" class="student-bonus">
                <div style="margin-bottom: 15px;" class="title_info">Tuyên dương - Khen thưởng</div>
                <div class="body-info">
                    <label style="font-weight: normal;" class="label-search">Tìm kiếm</label><input id="search_bonus" class="imput-search" />
                    <div style="" class="student-score-table">
                        <table id="table_bonus_parent" style="width: 100%;" class="main-table-bonus">
                            <thead>
                                <tr>
                                    <th class="tieu-de" fieldName="Time">
                                        <div class="tieu-de-tren">Thời gian</div>
                                    </th>
                                    <th class="tieu-de" fieldName="Content">
                                        <div class="tieu-de-tren">Nội dung</div>
                                    </th>
                                    <th class="tieu-de cot1" fieldName="Subject">
                                        <div class="tieu-de-tren">Môn học</div>
                                    </th>
                                    <th class="tieu-de cot1" fieldName="Value">
                                        <div class="tieu-de-tren">Điểm cộng</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div style="font-weight: bold; color: #0973B9" id="total_bonus">Tổng điểm cộng: </div>
                </div>

            </div>
            <div id="critic_infor" class="student-critic">
                <div style="margin-bottom: 15px;" class="title_info">Thông tin phê bình</div>
                <div class="body-info">
                    <label style="font-weight: normal;" class="label-search">Tìm kiếm</label><input id="search_critic" class="imput-search" />
                    <div style="" class="student-score-table">
                        <table id="table_critic_parent" style="width: 100%" class="main-table-critic">
                            <thead>
                                <tr>
                                    <th class="tieu-de" fieldName="Time">
                                        <div class="tieu-de-tren">Thời gian</div>
                                    </th>
                                    <th class="tieu-de" fieldName="Content">
                                        <div class="tieu-de-tren">Nội dung</div>
                                    </th>
                                    <th class="tieu-de cot1" fieldName="Subject">
                                        <div class="tieu-de-tren">Môn học</div>
                                    </th>
                                    <th class="tieu-de cot1" fieldName="Value">
                                        <div class="tieu-de-tren">Điểm trừ</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div style="font-weight: bold; color: red" id="total_critic">Tổng điểm trừ: </div>
                </div>


            </div>
            <div id="classify_infor">
                <div style="margin-bottom: 15px;" class="title_info">Đánh giá xếp loại</div>
                <div class="body-info">
                    <div class="info" id="student_attendence">Điểm danh</div>
                    <div class="info" id="student_conduct">Hạnh kiểm</div>
                    <div class="info" id="student_mediumscore">Điểm trung bình</div>
                    <div class="info" id="student_classify">Xếp loại</div>
                </div>
            </div>
            <div id="class_infor">
                <div style="margin-bottom: 15px;" class="title_info">Thông tin lớp học</div>
                <div class="body-info">
                    <div class="info" id="class_code">Mã lớp</div>
                    <div class="info" id="class_name">Tên lớp</div>
                    <div class="info" id="teacher_code">Mã giáo viên</div>
                    <div class="info" id="teacher_name">Mã giáo viên</div>
                    <div class="info" id="teacher_address">Địa chỉ</div>
                    <div class="info" id="teacher_phone">Điện thoại</div>
                </div>
            </div>


        </div>
    </div>

    <div id="id01" class="w3-modal">
        <div style="border-radius: 5px; width: 500px; " class="w3-modal-content w3-animate-top w3-card-4">
            <header style="border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #0973B9 !important;" class="w3-container w3-teal">
                <span style="margin-right: 10px;" onclick="document.getElementById('id01').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h4>Cập nhật thông tin</h4>
            </header>
            <div style="padding: 25px 30px;" class="w3-container">
                <div>Họ và tên PH <span class="dau-sao">(*)</span> <input id="parent_name_modal" style="width: 292px; margin-left: 30px;" class="input1" /></div>
                <div style="margin-top: 10px;">Số điện thoại PH <span class="dau-sao">(*)</span><input id="parent_phone_modal" style="width: 292px; margin-left: 10px;" class="input1" /></div>
                <div style="margin-left: 150px; margin-top:15px;">
                    <button onclick="savePH()" class="btn-save-parent" style="border: none; background-color: #0973B9; border-radius: 3px; text-align: center; width: 70px; height: 30px; color: white">Lưu lại</button>
                    <button class="btn-save-parent" style="border: none; background-color: #0973B9; border-radius: 3px; text-align: center; width: 70px; height: 30px; color: white">Hủy bỏ</button>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.5/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script src="/Scripts/Libraries/cute-alert-master/cute-alert.js"></script>
    <script src="/Scripts/Libraries/jquery-3.4.1.js"></script>
    <script src="/Scripts/Libraries/jquery-ui.js"></script>
    <script src="/Scripts/Project/student_parent.js"></script>
    <script src="/Scripts/Project/login.js"></script>

</body>
</html>