<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quản lý giáo viên - Admin</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/CSS/Libraries/jquery-ui.css" rel="stylesheet" />
    <link href="/CSS/Project/view.css" rel="stylesheet" />
    <link href="/CSS/Project/common.css" rel="stylesheet" />
    <link href="/CSS/Project/admin_dashboard.css" rel="stylesheet" />
</head>
<body>
    <div class="div-trai">
        <div class="div-trai-tren">
            <i class="fas fa-book-reader logo"></i>
            <div class="div-trai-tren-text logo-text">e-Support</div>
        </div>
        <div class="div-trai-duoi">
            <a>
                <div class="trai-duoi-1cai">
                    <i class="fas fa-tachometer-alt icon-sidebar"></i>
                    <div class="trai-duoi-text">Tổng quan</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/class_managment.html">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-chalkboard icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý lớp học</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/teacher.html">
                <div class="trai-duoi-1cai active">
                    <i class="fas fa-chalkboard-teacher icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý giáo viên</div>
                </div>
            </a>

            <div class="line"></div>
            <a>
                <div class="trai-duoi-1cai">
                    <i class="fas fa-user-graduate icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý học sinh</div>
                </div>
            </a>

            <div class="line"></div>
            <a>
                <div class="trai-duoi-1cai">
                    <i class="fas fa-star-half-alt icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý điểm</div>
                </div>
            </a>

            <div class="line"></div>
            <a>
                <div class="trai-duoi-1cai">
                    <i class="fas fa-award icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý khen thưởng</div>
                </div>
            </a>

            <div class="line"></div>
            <a>
                <div class="trai-duoi-1cai">
                    <i class="fas fa-prescription icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý phê bình</div>
                </div>
            </a>

            <div class="line"></div>
            <a>
                <div class="trai-duoi-1cai">
                    <i class="fas fa-user-friends icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý người dùng</div>
                </div>
            </a>

            <div class="line"></div>
            <a>
                <div class="trai-duoi-1cai">
                    <i class="fas fa-book icon-sidebar"></i>
                    <div class="trai-duoi-text">Hướng dẫn sử dụng</div>
                </div>
            </a>

            <div class="line"></div>
            <a>
                <div class="trai-duoi-1cai">
                    <i class="fas fa-sign-out-alt icon-sidebar"></i>
                    <div class="trai-duoi-text">Đăng xuất</div>
                </div>
            </a>
        </div>
    </div>
    <div class="div-phai">
        <div style="width: fit-content();display: flex; justify-content: flex-end" class="div-phai-tren">
            <select class="cbb1" style="width: 66px; background-color: #0973b9; margin-right: 10px ">
                <option value="value">Admin</option>
            </select>
        </div>
        <div class="div-phai-giua-tren">
            <div id="class_title" class="text-danh-muc">Quản lý giáo viên</div>
            <div>
                <label class="label-search">Tìm kiếm</label>
                <input id="search_fulltable_teacher" class="imput-search" />
            </div>
        </div>

        <div class="div-phai-menu-ngang">
            <button style=" border-left: 1px solid #d6d6d6;" class="btn add btn-nav">
                <i class="fas fa-plus icon-btn"></i>
                <div class="btn-text">Thêm</div>
            </button>
            <button class="btn edit btn-nav" disabled>
                <i class="fas fa-edit icon-btn"></i>
                <div class="btn-text">Sửa</div>
            </button>
            <button class="btn delete btn-nav" disabled>
                <i class="fas fa-trash-alt icon-btn"></i>
                <div class="btn-text">Xóa</div>
            </button>
            <button class="btn export btn-nav" onclick="exportReportToExcel(this)">
                <i class="fas fa-file-export icon-btn"></i>
                <div class="btn-text">Xuất file</div>
            </button>
            <div class="btn importfile btn-nav">
                <i class="fas fa-file-alt icon-btn"></i>
                <label for="input_file" class="btn-nav import-file">Nhập file</label>
                <input id="input_file" style="display: none;" type="file" accept=".xls,.xlsx,.ods">
            </div>



        </div>
        <div class="loading"></div>

        <div class="du-lieu">
            <div class="table">
                <table id="table_teacher" class="main-table">
                    <thead>
                        <tr>

                            <th class="tieu-de" fieldName="Code">
                                <div class="tieu-de-tren">Mã giáo viên <i class="fas fa-sort"></i></div>
                            </th>
                            <th class="tieu-de" fieldName="Name">
                                <div class="tieu-de-tren">Họ và tên <i id="sort_by_teachername" class="fas fa-sort"></i></div>
                            </th>
                            <th class="tieu-de cot1" fieldName="Address">
                                <div class="tieu-de-tren">Địa chỉ</div>
                            </th>
                            <th class="tieu-de cot1" fieldName="Phone">
                                <div class="tieu-de-tren">Điện thoại</div>
                            </th>
                            <th class="tieu-de cot1" fieldName="Sex">
                                <div class="tieu-de-tren">Giới tính</div>
                            </th>
                            <th class="tieu-de cot1" fieldName="Note">
                                <div class="tieu-de-tren">Ghi chú</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


            </div>

            <div class="phan-trang" style="display: flex; ">
                <div style="width : 1px; height: 27px; background-color: #cccccc; margin-top: 0px; margin-left: 0px; "></div>
                <button id="trang-dau" class="">
                    <i style="font-size: 22px" class="fas fa-backward icon-btn-page"></i>
                </button>
                <button id="trang-truoc" class="">
                    <i class="fas fa-caret-left icon-btn-page"></i>
                </button>
                <div style="width : 1px; height: 15px; background-color: #cccccc; margin-top: 5px; margin-left: 5px; "></div>
                <div class="phan-trang-text">Trang</div>
                <input id="input-trang" class="input-trang page-index" type="number" name="name" value="1" min="1" />
                <div class="phan-trang-text so-trang-max"> </div>
                <div style="width : 1px; height: 15px; background-color: #cccccc; margin-top: 5px; margin-left: 15px; "></div>
                <button id="trang-sau" class="">
                    <i class="fas fa-caret-right icon-btn-page"></i>
                </button>
                <button id="trang-cuoi" class="">
                    <i style="font-size: 22px" class="fas fa-forward icon-btn-page"></i>
                </button>
                <div style="width : 1px; height: 15px; background-color: #cccccc; margin-top: 5px; margin-left: 15px; "></div>
                <button id="refresh" class="">
                    <i style="font-size: 22px" class="fas fa-sync-alt icon-btn-page"></i>
                </button>
                <div style="width : 1px; height: 15px; background-color: #cccccc; margin-top: 5px; margin-left: 15px; "></div>
                <div class="div-cbb">
                    <select style="width: 60px; height: 27px;" class="cbb-trang page-size">
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>


                    </select>

                </div>
                <div class="dem-ban-ghi phan-trang-text" style="margin-left: 400px;  "></div>

            </div>
        </div>

        <!--các dialog-->
        <div id="dialog" style="display : none;">
            <div style="display: flex; ">
                <img style="width: 32px; height: 32px; " src="/Contents/imgs/icon-question.png" />
                <div id="thong-bao" style="font-size: 13px; margin-left: 10px; margin-top: 5px; "> </div>

            </div>


        </div>
        <div id="dialog-add">
            <div class="dialog-add-tieu-de">
                <div style="color: white; line-height: 30px; margin-left: 15px; ">Thêm mới</div>
                <button class="icon-tieu-de-dialog-add"></button>
            </div>
            <div class="dialog-add-than">
                <div style="height: 5px; "></div>
                <div class="dong1">
                    <label class="text-dialog text1">Mã giáo viên<span class="dau-sao">(*)</span></label>
                    <input style="width: 520px;" type="text" name="name" value="" class="input1" id="code-dialog" />
                </div>
                <div class="dong1">
                    <label class="text-dialog text1">Họ và tên<span class="dau-sao">(*)</span></label>
                    <input style="width: 520px;" type="text" name="name" value="" class="input1" id="name-dialog" />
                </div>
                <div class="dong1">
                    <label class="text-dialog text1">Địa chỉ</label>
                    <input type="text" name="name" value="" class="input1 input3" id="address-dialog" />
                </div>
                <div class="dong1">
                    <label class="text-dialog text1">Điện thoại<span class="dau-sao">(*)</span></label>
                    <input style="width: 150px; margin-left: 15px !important" type="text" name="name" value="" class="input1 input4" id="phone-dialog" />
                    <label style="margin-left: 118px;" class="text-dialog text1">Giới tính<span class="dau-sao">(*)</span></label>
                    <select style="width: 150px;" id="sex-dialog">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div class="dong1">
                    <label style="width: 116px;" class="text-dialog text1">Ghi chú</label>
                    <textarea style="width: 521px; padding: 10px; height: 50px; " id="note-dialog"></textarea>
                </div>

                <div class="dong1 list-btn">

                    <button class="btn-dialogAdd cat" id="save">
                        <i style="font-size: 15px; line-height: 30px; margin-left: 10px;" class="fas fa-save"></i>
                        <div style="font-size: 15px; line-height: 30px;">Lưu lại</div>

                    </button>
                    <button class="btn-dialogAdd" id="huy-bo">
                        <i style="font-size: 15px; line-height: 30px; margin-left: 10px;" class="fas fa-ban"></i>
                        <div style="font-size: 15px; line-height: 30px;">Hủy bỏ</div>
                    </button>

                </div>
            </div>


        </div>
        <div id="dialog-edit">
            <div class="dialog-add-tieu-de">
                <div style="color: white; line-height: 30px; margin-left: 15px; ">Sửa giáo viên</div>
                <button class="icon-tieu-de-dialog-edit"></button>
            </div>
            <div class="dialog-add-than">
                <div style="height: 5px; "></div>
                <div class="dong1">
                    <label class="text-dialog text1">Mã giáo viên<span class="dau-sao">(*)</span></label>
                    <input type="text" name="name" value="" class="input1" id="code-dialog-edit" />
                </div>
                <div class="dong1">
                    <label class="text-dialog text1">Họ và tên<span class="dau-sao">(*)</span></label>
                    <input type="text" name="name" value="" class="input1" id="name-dialog-edit" />
                </div>
                <div class="dong1">
                    <label class="text-dialog text1">Địa chỉ</label>
                    <input type="text" name="name" value="" class="input1 input3" id="address-dialog-edit" />
                </div>
                <div class="dong1">
                    <label class="text-dialog text1">Điện thoại<span class="dau-sao">(*)</span></label>
                    <input style="width: 150px; margin-left: 15px !important" type="text" name="name" value="" class="input1 input4" id="phone-dialog-edit" />
                    <label style="margin-left: 118px;" class="text-dialog text1">Giới tính<span class="dau-sao">(*)</span></label>
                    <select style="width: 150px;" id="sex-dialog-edit">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div class="dong1">
                    <label style="width: 116px;" class="text-dialog text1">Ghi chú</label>
                    <textarea style="width: 521px; padding: 10px; height: 50px; " id="note-dialog-edit"></textarea>
                </div>

                <div class="dong1 list-btn">
                    <button class="btn-dialogAdd cat" id="save-edit">
                        <i style="font-size: 15px; line-height: 30px; margin-left: 10px;" class="fas fa-save"></i>
                        <div style="font-size: 15px; line-height: 30px;">Lưu lại</div>
                    </button>
                    <button class="btn-dialogAdd" id="huy-bo-edit">
                        <i style="font-size: 15px; line-height: 30px; margin-left: 10px;" class="fas fa-ban"></i>
                        <div style="font-size: 15px; line-height: 30px;">Hủy bỏ</div>
                    </button>

                </div>
            </div>


        </div>



    </div>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.5/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/Scripts/Libraries/jquery-3.4.1.js"></script>
    <script src="/Scripts/Libraries/jquery-ui.js"></script>
    <script src="/Scripts/Project/base_teacher.js"></script>
    <script src="/Scripts/Project/teacher.js"></script>
    <script src="/Scripts/Project/import_file_teacher.js"></script>
    <script src="/Scripts/Project/sort.js"></script>

</body>
</html>