<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Trang chủ - Giáo viên</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/Scripts/Libraries/cute-alert-master/style.css" />
    <link href="/CSS/Libraries/jquery-ui.css" rel="stylesheet" />
    <link href="/CSS/Project/view.css" rel="stylesheet" />
    <link href="/CSS/Project/common.css" rel="stylesheet" />
    <link href="/CSS/Project/admin_dashboard.css" rel="stylesheet" />
    <link href="/CSS/Libraries/dashboard.css" rel="stylesheet" />

</head>
<body style="background-color: #F2F2F2">
    <div class="div-trai">
        <div class="div-trai-tren">
            <i class="fas fa-book-reader logo"></i>
            <div class="div-trai-tren-text logo-text">e-Support</div>
        </div>
        <div class="div-trai-duoi">
            <a href="/Views/teacher_dashboard.html">
                <div class="trai-duoi-1cai active">
                    <i class="fas fa-tachometer-alt icon-sidebar"></i>
                    <div class="trai-duoi-text">Tổng quan</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/student.html">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-chalkboard icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý học sinh</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/score_by_class.html">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-chalkboard-teacher icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý điểm</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/bonus_by_class.html">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-user-graduate icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý khen thưởng</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/critic_by_class.html">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-star-half-alt icon-sidebar"></i>
                    <div class="trai-duoi-text">Quản lý phê bình</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/all_bonus.html">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-award icon-sidebar"></i>
                    <div class="trai-duoi-text">Thông tin cá nhân</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/user_manual_teacher.html">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-prescription icon-sidebar"></i>
                    <div class="trai-duoi-text">Hướng dẫn sử dụng</div>
                </div>
            </a>

            <div class="line"></div>
            <a href="/Views/">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-user-friends icon-sidebar"></i>
                    <div class="trai-duoi-text">Đổi mật khẩu</div>
                </div>
            </a>

            <div class="line"></div>
            <a id="logout">
                <div class="trai-duoi-1cai">
                    <i class="fas fa-book icon-sidebar"></i>
                    <div class="trai-duoi-text">Đăng xuất</div>
                </div>
            </a>

        </div>

    </div>
    <div class="div-phai">
        <div style="width: fit-content();display: flex; justify-content: flex-end" class="div-phai-tren">
            <select class="cbb1" style="width: 76px; background-color: #0973b9; margin-right: 10px ">
                <option value="value">Teacher</option>
            </select>
        </div>
        <div style="display: block" class="div-phai-giua-tren">
            <div id="class_title" class="text-danh-muc">Lớp ...</div>
            <div style="background-color: #F2F2F2" class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Tổng số học sinh</h5>
                                        <span id="total_student" class="h2 font-weight-bold mb-0">0</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fas fa-chart-bar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Loại lớp</h5>
                                        <span id="type_class" class="h2 font-weight-bold mb-0">0</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Năm học</h5>
                                        <span id="school_year" class="h2 font-weight-bold mb-0">0</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                            <i class="fas fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="margin-bottom: 0; font-weight: bold; margin-left: 5px; margin-top:10px ">Hạnh kiểm</p>
                <div style="margin-top: 0px;" class="row">
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Hạnh kiểm Tốt</h5>
                                        <span id="conduct_good" class="h2 font-weight-bold mb-0">0</span>
                                    </div>
                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span id="rating_hk_tot" class="text-success mr-2">0%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Hạnh kiểm Khá</h5>
                                        <span id="conduct_kha" class="h2 font-weight-bold mb-0">0</span>
                                    </div>

                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span id="rating_hk_kha" class="text-danger mr-2"> 0%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Hạnh kiểm Trung bình</h5>
                                        <span id="conduct_tb" class="h2 font-weight-bold mb-0">0</span>
                                    </div>

                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span id="rating_hk_tb" class="text-warning mr-2"> 0%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Hạnh kiểm Yếu</h5>
                                        <span id="conduct_yeu" class="h2 font-weight-bold mb-0">0</span>
                                    </div>

                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span id="rating_hk_yeu" class="text-warning mr-2"> 1.10%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="margin-bottom: 0; font-weight: bold; margin-left: 5px;margin-top:10px">Học lực</p>
                <div style="margin-top: 0px;" class="row">
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Học lực Giỏi</h5>
                                        <span id="hocluc_gioi" class="h2 font-weight-bold mb-0">0</span>
                                    </div>
                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2">0%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Học lực Khá</h5>
                                        <span id="hocluc_kha" class="h2 font-weight-bold mb-0">0</span>
                                    </div>

                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"> 0%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Học lực Trung bình</h5>
                                        <span id="hocluc_tb" class="h2 font-weight-bold mb-0">0</span>
                                    </div>

                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span class="text-warning mr-2">0%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Học lực Yếu</h5>
                                        <span id="hocluc_yeu" class="h2 font-weight-bold mb-0">0</span>
                                    </div>

                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span class="text-warning mr-2">0%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="margin-bottom: 0; font-weight: bold; margin-left: 5px;margin-top:10px">Tuyên dương - Phê bình</p>
                <div style="margin-top: 0px;" class="row">
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Tổng số Tuyên dương - Khen thưởng</h5>
                                        <span id="bonus" class="h2 font-weight-bold mb-0">0</span>
                                    </div>

                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span class="text-success mr-2"> 3.48%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-stats mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Tổng số Phê bình</h5>
                                        <span id="critic" class="h2 font-weight-bold mb-0">0</span>
                                    </div>


                                </div>
                                <p class="mt-4 mb-0 text-muted text-sm">
                                    <span class="text-danger mr-2"> 3.48%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <script src="/Scripts/Libraries/jquery-3.4.1.js"></script>
    <script src="/Scripts/Libraries/cute-alert-master/cute-alert.js"></script>
    <script src="/Scripts/Libraries/jquery-ui.js"></script>
    <script src="/Scripts/Project/teacher_dashboard.js"></script>
    <script src="/Scripts/Project/login.js"></script>
</body>
</html>