body {
}
.input1{
    width: 300px;
}
#dialog-student-detail {
    border-radius: 7px;
    padding: 0;
    margin-top: -268px !important;
    width: 80vw !important;
    margin-left: -27vw !important;
    height: 92vh !important;
    border-bottom: 9px solid #0973B9;
}
.dialog-detail-title{
    margin: 0;
    width: 100% !important;
    
}
.info-student {
    font-size: 15px;
    padding-top: 8px;
    
}
.student-score {
    border-top: none;
    height: unset;
}
.title_info_detail {
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    border-bottom: 1px solid #BFBFBF;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.tieu-de-detail{
    height: 27px;
}
.main-table-score{
    text-align: center;
}
.student-score-table{
    border-radius: 4px;
    
}
.student-score-table-detail{
    max-height: 300px;
    height: unset;
}
.student-score-table-detail tr{
    height: 27px;
}
.btn-student-detail {
    background-color: #0973B9;
    border:none; 
    outline: none;
    color: white;
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
}
    .btn-student-detail:hover {
        background-color: #0199FC;
    }
.show-item{
    margin-top: 10px;
    margin-left: 66px;
}
#total_bonus {
    font-weight: bold;
    color: #0973B9;
    margin-left: 15px;
    margin-top: 10px;
}
#total_critic{
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
    color: red;
}
.main-content{
    height: 554px;
}