body {
}

#dialog-student-detail {
    background-color: white;
    width: 90vw !important;
    margin-top: -227px !important;
    display: none;
    height: 535px !important;
    max-height: unset !important;
    position: absolute;
    margin-left: -32vw !important;
    border: 5px solid #0973B9;
    overflow: unset;
}

.detail-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-title-btn {
    margin-left: unset;
    margin-right: 0;
}

.icon-tieu-de-dialog-detail {
    margin-left: unset;
}

.dialog-detail-title {
    width: 1261px !important;
}

.grid-info {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 1.5;
}
.student-score {
    width: 100%;
    border-top: 1px solid gray;
    padding-top: 10px;
    height: 300px;
}
.student-score-table, .student-score-show {
    width: 50%;
}
    .student-score-table {
        height: 170px;
        overflow-y: scroll;
        border: 1px solid gray;
    }
    .main-table-score {
        width: 100%;
    }
.student-score-content {
    display: flex;
    justify-content: space-between;
}
.score-nav {
    margin-left: 190px;
}
.main-content {
    overflow-y: scroll !important;
    height: 521px;
    scroll-behavior: smooth;
}
.main-content::-webkit-scrollbar {
     width: 0 !important;
     display: none;
}